header {
	   background-color:#e342f5;
	   color:white;
	   text-align:center;
	   text-decoration:underline;
	   }
	   footer{
	 background-color: #8ff7e3;
	 color:black;
	 text-align:center;
 }
 .w3-table{
	 color:
 }