	<a href="../index.html" class="w3-bar-item w3-button w3-border-right"><i class="fa fa-home" style="color:white;width:50px;"></i></a>
	<a href="vraboteni.html" class="w3-bar-item w3-button w3-border-right">Вработени</a>
	<a href="details_vraboteni.html" class="w3-bar-item w3-button w3-border-right">Нов вработен </a>
	<a href="vozila.html" class="w3-bar-item w3-button w3-border-right">Возила</a>
	<a href="details_vozila.html" class="w3-bar-item w3-button w3-border-right">Ново возило </a>
	<a href="dnevenPromet.html" class="w3-bar-item w3-button w3-border-right">Дневен Извештај</a>
	<a href="details_dnevenPromet.html" class="w3-bar-item w3-button w3-border-right">Внеси дневен извештај</a>


<div class="w3-dropdown-hover">
      <button class="w3-button">Трошоци <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card">
        <a href="details_trosokVozilo.html" class="w3-bar-item w3-button">Внеси трошок за возило</a>
        <a href="trosokVozilo.html" class="w3-bar-item w3-button">Трошок за возило</a>
        <a href="details_trosokVraboten.html" class="w3-bar-item w3-button">Внеси трошок за вработен</a>
		<a href="trosokVraboten.html" class="w3-bar-item w3-button">Трошок за вработен</a>
		<a href="details_fiksniTrosoci.html" class="w3-bar-item w3-button">Внеси фиксен трошок</a>
		<a href="fiksniTrosoci.html" class="w3-bar-item w3-button">Фиксни трошоци</a>
      </div>
</div>  